<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.ipan.dao.FileDao">
    <select id="countFileByUsername" parameterType="String" resultType="Integer">
        select count(*) from file where username = #{username}
    </select>
    <select id="countFile" resultType="Integer">
        select count(*) from file
    </select>
    <delete id="deleteFileByUsername" parameterType="String">
        delete from file where username = #{username}
    </delete>
    <delete id="deleteAllFile">
        delete from file
    </delete>
    <select id="getAllFileByUsername" parameterType="String" resultType="file">
        select file_name from file where username = #{username}
    </select>
    <select id="getAllFile" resultType="file">
        select username, file_name from file
    </select>
    <select id="isFilenameExist" parameterType="file" resultType="Boolean">
        select 1 from file where username = #{username} and file_name = #{file_name}
    </select>
    <update id="renameFile" parameterType="Map">
        update file set file_name = #{newname} 
        where username=#{username} and file_name = #{oldname}
    </update>
    <insert id="addFile" parameterType="file" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into file (username,file_name) 
        values(#{username}, #{file_name})
    </insert>
    <select id="isMultiFilenameExist" parameterType="Map" resultType="String">
        select file_name from file
        where username = #{username} and file_name in 
        <foreach collection="filenames" item="item" index="index" 
            open="(" close=")"  separator=",">
            #{item}
        </foreach>
    </select>
    <insert id="addMultiFile" parameterType="Map">
        insert into file (username, file_name) values
            <foreach collection="filenames" item="item" index="index" separator=",">
                (#{username}, #{item})
            </foreach>
    </insert>
    <delete id="deleteFile" parameterType="file">
        delete from file where username = #{username} and file_name = #{file_name}
    </delete>
    <delete id="clearFile" parameterType="String">
        delete from file where username=#{username}
    </delete>
</mapper>